<section id="user-panel">
  <div class="panel-container">
    <table>
      <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Controls</th>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td class="controls"><span (click)="edit(user)">Edit</span><span (click)="delete(user)">Delete</span></td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/createuser" class="adduser">Add User</a>
  </div>

  <div class="edit-user-container" *ngIf="editing">
    <form #editUserForm="ngForm" (ngSubmit)="finishedEditing(editUserForm); false">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="userBeingEdited.username">

      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="userBeingEdited.email">

      <label for="password">New Password</label>
      <input type="password" name="password" ngModel>

      <label for="firstName">First Name</label>
      <input type="text" name="firstname" [(ngModel)]="userBeingEdited.firstName">

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="userBeingEdited.lastName">

      <label for="isAdmin">Admin?</label>
      <select name="isAdmin" ngModel>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>

      <input type="hidden" name="id" [(ngModel)]="userBeingEdited['_id']">

      <button type="submit">Submit</button>
    </form>
  </div>
</section>
