label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  letter-spacing: $lead-letter-spacing;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $black;
  display: block;
  margin-bottom: $vertical-rhythm;
  width: 375px;
}

button {
  margin-top: 15px;
  color: white;
  background: black;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s;
  border: 1px solid transparent;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  display: block;

  &:hover {
    color: black;
    background: white;
    border: 1px solid black;
  }
}
