label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  letter-spacing: $lead-letter-spacing;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $black;
  display: block;
  margin-bottom: $vertical-rhythm;
  width: 375px;
}
