body {
  font-family: $default-font-stack;
  font-size: $bfs;
  letter-spacing: $default-letter-spacing;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: $heading-letter-spacing;
  font-family: $heading-font-stack !important;
  margin-bottom: $vertical-rhythm;
  margin-top: $vertical-rhythm / 2;
}

h1 {
  font-size: $bfs-h1;
}

h2 {
  font-size: $bfs-h2;
}

h3 {
  font-size: $bfs-h3;
}

h4 {
  font-size: $bfs-h4;
}

h5 {
  font-size: $bfs-h5;
}

h6 {
  font-size: $bfs-h6;
}

.lead {
  font-size: $lead-font-size;
  letter-spacing: $lead-letter-spacing;
  text-align: $lead-alignment;
}

p {
  line-height: $p-line-height;
}

a {
  color: black;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    letter-spacing: 5px;
  }
}
