<p>
  create-page-form works!
</p>
<form #createPageForm="ngForm" (ngSubmit)="createPage(createPageForm); false;">
  <label for="title">Title</label>
  <input type="text" name="title" ngModel>
  <label for="contents">Contents</label>
  <input type="text" name="contents" ngModel>
  <label for="route">Route</label>
  <input type="text" name="route" ngModel>
  <label for="displayName">Display Name for Navbar</label>
  <input type="text" name="displayName" ngModel>
  <label for="displayInNav">Display in Navbar?</label>
  <select name="displayInNav" ngModel>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <button type="submit">Submit</button>
</form>
