<div *ngIf="post">
  <h2>{{post.title}}</h2>
  <h4>{{formatDate(post.created)}}</h4>
  <div [innerHTML]="post.contents"></div>
  <div *ngIf="post.comments">
    <h3>Comments</h3>
    <div class="comment" *ngFor="let comment of post.comments">
      <p>{{comment.contents}}</p>
      <p>By: {{comment.author}} - {{formatDate(comment.timestamp)}}</p>
    </div>
  </div>
  <button type="button" name="button" (click)="startCommenting(post)">Comment</button>

  <div *ngIf="commenting">
    <form #addCommentForm="ngForm" (ngSubmit)="stopCommenting(addCommentForm); false;">
      <label for="comment">Comment</label>
      <input type="text" name="comment" ngModel>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
