.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.outer-container .main-container {
  flex-grow: 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid black;
  height: 100px;
}

header .branding h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 30px;
}

footer {
  height: 100px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer nav ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  list-style-type: none;
}
