<h2>Variables</h2>
<button (click)="addInput()" style="margin-bottom: 20px;">New Variable</button>
<form *ngIf="vars" #variables="ngForm" (ngSubmit)="updateVariables(variables); false">
  <div *ngFor="let input of inputs; let i = index" class="input-container">
    <input type="text" name="key{{i}}" [(ngModel)]="input[0]">
    <input type="text" name="val{{i}}" [(ngModel)]="input[1]">
    <button (click)="removeInput(i)" class="delete-button">Delete</button>
  </div>
  <button type="submit">Submit</button>
</form>
