input {
  display: inline-block;
}

.delete-button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 0;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  margin-bottom: 0;
  margin-right: 10px;
}
