<div *ngIf="post">
  <form #updateForm="ngForm" (ngSubmit)="updatePost(updateForm); false">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="post.title">
    <label for="category">Category</label>
    <input type="text" name="category" [(ngModel)]="post.category">
    <label for="tags">Tags</label>
    <input type="text" name="tags" id="tags">
    <div [froalaEditor]="froalaOptions" id="editor"></div>
    <label>Save as draft?</label>
    <label for="draft"><input type="radio" name="draft" value="true" id="draft-true">Yes</label>
    <label for="draft"><input type="radio" name="draft" value="false" id="draft-false">No</label>
    <input type="submit">
  </form>
</div>
