<h2>Create User</h2>
<form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm); false">
  <label for="username">Username</label>
  <input type="text" name="username" ngModel>
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" ngModel>
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" ngModel>
  <label for="password">Password</label>
  <input type="text" name="password" ngModel>
  <label for="admin">Is admin?</label>
  <select name="admin" ngModel>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <button type="submit">Create</button>
</form>
